{% extends 'MccASMemberBundle::layout.html.twig' %}
{% block content %}
<h1>List of Autonomous Systems</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>AS identifier</th>
            <th>AS name</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('autonomoussystem_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><a href="{{ path('autonomoussystem_show', { 'id': entity.id }) }}">{{ entity.asidentifier }}</a></td>
            <td>{{ entity.asname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ entities.render()|raw }}
</div>
{% endblock %}