{% extends 'MccASMemberBundle::layout.html.twig' %}
{% block content %}
<h2>Representatives searching</h2>
    <form action="{{ path('autonomoussystem_search') }}" method="post">
        {{ form_widget(search_form) }}
        <button type="submit">Search</button>
    </form>
<h2>List of Autonomous Systems</h2>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>AS identifier</th>
            <th>AS name</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('autonomoussystem_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><a href="{{ path('autonomoussystem_show', { 'id': entity.id }) }}">{{ entity.asidentifier }}</a></td>
            <td>{{ entity.asname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="navigation">
    {{ entities.render()|raw }}
</div>
{% endblock %}