{% extends 'MccASMemberBundle::layout.html.twig' %}
{% block sidebar %}
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ as.id }}</td>
        </tr>
        <tr>
            <th>Asidentifier</th>
            <td>{{ as.asidentifier }}</td>
        </tr>
        <tr>
            <th>Asname</th>
            <td>{{ as.asname }}</td>
        </tr>
    </tbody>
</table>
<span onclick="javascript:history.back()" style="text-decoration:underline; color:blue; cursor:hand">Click here to go back</span>
<br/>

{% endblock %}
{% block content %}
<h2>Autonomous System Serwers</h2>


{% if help == 1 %}
<ul class="list">
{% for ip in serwers%}
<li class="list.option">
{{ip.getIp}}
    </li>
{% endfor %}
</ul>
    <div class="navigation">
    {{ serwers.render()|raw }}
      </div>
    {% endif %}
    {%if help == 0%}
<h3>Niestety dla tego AS nie ma zapisane IP adresów serwerów</h3>
    {% endif %}

    {% endblock %}