{% extends 'MccASMemberBundle::layout.html.twig' %}
{% block sidebar %}
<h4>Details of Autonomous System: {{ entity.asidentifier }}</h4>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>AS Identifier</th>
            <td>{{ entity.asidentifier }}</td>
        </tr>
        <tr>
            <th>AS Name</th>
            <td>{{ entity.asname }}</td>
        </tr>
    </tbody>
</table>
<ul class="record_actions">
    <li>
        <a href="{{ path('autonomoussystem_serwers', { 'id': entity.id }) }}">
            Show all web servers for this AS</a>
    </li>
    <li>
        <a href="{{ path('autonomoussystem') }}">
            Back to the list
        </a>
    </li>
    </ul>
{% endblock %}

{% block content %}
<h4>Representatives</h4>


<script type="text/javascript">
$(function()
    {
        $('.warning').click(function(e)
        {
            alert('This action may take a while. Please patiently wait');
        });
    }
);

</script> 



{% if representatives|length >0%}
<p>Find other serwers <a class='warning' href="{{ path('autonomoussystem_find_representatives', { 'id': entity.id }) }}">start</a> </p>
<ul class="list">
{% for representantive in representatives%}
    <li class="list.option">
        <a href="{{ path('ip_show', { 'id': representantive.id }) }}">{{representantive.getIp()}}</a>
    </li>
    
{% endfor %}
        <div class="navigation">
    {{ representatives.render()|raw }}
      </div>
</ul>
{% else %}
    <p>No represantives found you can <a class='warning' href="{{ path('autonomoussystem_find_representatives', { 'id': entity.id }) }}">start looking for</a> them.</p>
{% endif %}
<h4>Ip ranges for this AS</h4>
<ul class="list">
{% for iprange in rangeslist%}
    <li class="list.option">
        <a href="{{ path('iprange_show', { 'id': iprange.id }) }}">{{iprange.getIpRangee()}}</a>
    </li>
{% endfor %}
</ul>
    
    <div class="navigation">
    {{ rangeslist.render()|raw }}
      </div>
    
    
{% endblock %}