<h1>Ip</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Ip</th>
            <td>{{ entity.ip }}</td>
        </tr>
        <tr>
            <th>Hostname</th>
            <td>{{ entity.hostname }}</td>
        </tr>
        <tr>
            <th>Iswebserver</th>
            <td>{{ entity.iswebserver }}</td>
        </tr>
        <tr>
            <th>Lastcheck</th>
            <td>{{ entity.lastcheck|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('ip') }}">
            Back to the list
        </a>
    </li>
</ul>
